<!-- pokemon-list.component.html -->
<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>
<div *ngIf="!loading" class="grid-container">
  <app-pokemon-card
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
    (selected)="selectPokemon($event)"
  >
  </app-pokemon-card>
</div>

<div *ngIf="!loading" class="pagination">
  <button (click)="loadPage(currentPage - 1)" [disabled]="currentPage === 1">
    Sebelumnya
  </button>

  <button
    *ngFor="let page of pages"
    (click)="loadPage(page)"
    [class.active]="page === currentPage"
  >
    {{ page }}
  </button>

  <button
    (click)="loadPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
